<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bem vindo</title>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/mask.js}" type="text/javascript"></script>
<script th:src="@{/js/font-awesome.js}" type="text/javascript"></script>
<script th:src="@{/js/login.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/bootstrap.bundle.min.js}"
	type="text/javascript"></script>
<link th:href="@{/bootstrap/bootstrap.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>

	<div class="container">
		<div class="box">

			<div class="box-login text-center">
				<div class="imagem_logo">
					<img th:src="@{/images/logoDimDim.PNG}" width="400" height="70">
				</div>

				<div class="login">

					<div class="row text-left">
						<div class="col-6">
							<label for="numeroConta">CPF:</label> <input type="text" id="cpf"
								class="form-control" />
						</div>

					</div>
					<div class="row text-left">
						<div class="col-6">
							<label for="senha">Senha:</label> <input type="password"
								id="senha" class="form-control" />
						</div>

						
						</div>
						<div class="row text-left">
							<div class="col-sm">
								<input type="button" class="form-control botaologar"
									value="Entrar" onclick="logar()">
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

</body>
</html>