.container {
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* align-items: center */
	margin-top:10%;
}

.box {
	width: 600px;
	height: 400px;
}
.box-login {
	width: 600px;
	height: auto;
	background-color: hsla(0, 0%, 100%, .8);
	box-shadow: 0 4px 40px 0 rgb(0 0 0/ 13%);
	padding:20px;
	float:left;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	background-color: #eee;
}
.text-center {
    text-align: center!important;
}
.text-left {
    text-align: left!important;
    margin-top:4px;
}
.conectado{
	margin-top:12px;
	margin-bottom: 12px;
}
.imagem_logo{
	max-width:200px;
	margin: 32px auto;
	
}

.imagem_logo img{
	margin-left: -100px;	
}
.texto-login{
	margin:0px;
	padding:0px;
	font-size: 35px;
	font-family: sans-serif;
}
.botaologar{
	background-color: #eace0b!important;
	color:#000000;
	width: 150px;
	margin-left: 3px;
	margin-top: 10px;
}

.botaoCadastro{
	background-color: #eace0b!important;
	color:#000000;
	width: 150px;
	margin-left: 3px;
	margin-top: 10px;
}
.none{
	display:none;
}
.left-f{
	float:left;
}
.alerta-centro{
	display:none;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  background-color: #eee;
  height: 10vh;
}

.content-box {
  background-color: black;
  color: white;
  text-align: center;
  width: 200px;
}

.row{
	margin-right: 50px;
	margin-left: 150px;
}

.cliente{
	width: 100%;
	
}

.cliente p{
	float: left;
	margin-left: 150px;
	margin-top: 65px;

}
.bemVindo{
	float: left;
	height: 60px;
	margin-right: 70px;
	margin-left: 50px;
	margin-top: 50px;
}
.caixa{
	width: 200px;
	height: 300px;
	float: left;
	border: solid 1px;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 100px;
	background-color: #000000;
	box-shadow: 0 4px 40px 0 rgb(0 0 0/ 50%);
}
.caixa h1{
	font-size: 80px;
	text-align: center;
	padding: 35px;
	color: #eace0b;
}
.caixa h3{
	text-align: center;
}
.saque{
	width: 600px;
	height: 490px;
	background-color: hsla(0, 0%, 100%, .8);
	box-shadow: 0 4px 40px 0 rgb(0 0 0/ 13%);
	padding:20px;
	float:left;
}
.SaqueGeral{
	width: 100%;
	height: 50%;
	margin-top: 50px;
	font-size: 20px;
	
}
.botaosacar{
	background-color: #eace0b!important;
	color:#000000;
	width: 150px;
	margin-left: 5px;
	margin-top: 30px;
}
.box-home{
	width: 1000px;
	height: 600px;
	background-color: hsla(0, 0%, 100%, .8);
	box-shadow: 0 4px 40px 0 rgb(0 0 0/ 13%);
	padding:20px;
	float:left;
}
.box-extrato{
	width: 1000px;
	height: auto;
	background-color: hsla(0, 0%, 100%, .8);
	box-shadow: 0 4px 40px 0 rgb(0 0 0/ 13%);
	padding:20px;
	float:left;
}
.container1{
	margin-top:5%;
	margin-left:180px;
}
.caixaGeral{
	height: auto;
	width: auto;
	float: left;
}
.caixa a{
	text-decoration: none;
	color: #eace0b;
}
.caixa:hover{
	-webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
